# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/breezy/node_modules
/backend/config/config.env

/breezy/.pnp
/breezy/.pnp.js
/.idea
/.dist
# testing
/breezy/coverage

# production
/breezy/build

# misc
/breezy/.DS_Store
/breezy/.env.local
/breezy/.env.development.local
/breezy/.env.test.local
/breezy/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*